<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Golosinas Parana </h1> - <h3>(29/05/2017 al 31/07/2019)</h3> </li>
            <p> Armado de pedidos,
                Reposicion y control de mercaderia
            </p>
        </ul>
        <ul>
            <li><h1>Almacen familiar </h1> - <h3>(05/03/2012 al 10/04/2017)</h3> </li>
            <p> Atencion al publico,
                Reposicion y control de mercaderia
            </p>
        </ul>
    </div>
</div>
